.container {
  // position: absolute;
  // top: 0%;
  // right: 5%;
  // height: 100%;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
}

.image {
  border: 8px solid rgba(57,57,57,1);
  padding: 2rem;
  // height: 30rem;
  // max-width: 40rem;
  height: auto;
  max-width: 35rem;
  background-color: rgba(245,243,243,1);
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.5);
}
